@using HouseRentingSystem
@using HouseRentingSystem.Models
@using HouseRentingSystem.Models.Home
@using HouseRentingSystem.Models.Agents
@using HouseRentingSystem.Models.Houses
@using HouseRentingSystem.Services.Houses.Models

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "All Houses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
